<div class="row">
  <div class="col-md-6">
    <img data-ng-src="{{game.currentGame.image}}" alt="Image for story"
      ng-click="game.showImageHiRes()"
    />
    <p>{{game.currentGame.imageBookmark}} / {{game.currentGame.imageTotal}}</p>
    <button type="button" class="btn btn-primary send" ng-click="game.submitEntry()">Next</button>
  </div>
  <div class="col-md-6">
    <h2>{{game.currentGame.setName}}</h2>
    <p class="italic">Write a story by writing a sentence for each picture.</p>
    <textarea rows="15" class="form-control" ng-model="game.currentGame.newSentence"></textarea>
    <p>{{game.currentGame.finishMessageToShow}}</p>
  </div>
</div>
