<div class="jumbotron">
  <h1>Welcome to <strong>Story Book</strong></h1>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>Available Stories</h2>
    <ul class="no-points">
      <li class="spacing" ng-repeat="prompt in home.prompts">
        <button type="button" class="btn btn-primary send" ng-click="home.usePrompt(prompt)">{{prompt.name}}</button>
      </li>
      <li class="spacing" ng-repeat="prompt in home.fbPrompts">
        <button type="button" class="btn btn-primary send" ng-click="home.usePrompt(prompt)">{{prompt.name}}</button>
      </li>
    </ul>
  </div>
</div>
